Client/Connected Services/DatabaseHostService/DatabaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DatabaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDatabaseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/Design_Time_Addresses/FinanceServices/DatabaseService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/Design_Time_Addresses/FinanceServices/DatabaseService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/Design_Time_Addresses/FinanceServices/DatabaseService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatabaseService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_ExecuteResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResult" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_ExecuteResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResultResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_ExsistUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ExsistUser" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_ExsistUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExsistUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_AppendUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AppendUser" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_AppendUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppendUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_DataCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DataCallBack" />
  </wsdl:message>
  <wsdl:portType name="IDatabaseService">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/Test" message="tns:IDatabaseService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/TestResponse" message="tns:IDatabaseService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/Execute" message="tns:IDatabaseService_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/ExecuteResponse" message="tns:IDatabaseService_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/ExecuteResult" message="tns:IDatabaseService_ExecuteResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/ExecuteResultResponse" message="tns:IDatabaseService_ExecuteResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExsistUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/ExsistUser" message="tns:IDatabaseService_ExsistUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/ExsistUserResponse" message="tns:IDatabaseService_ExsistUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppendUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/AppendUser" message="tns:IDatabaseService_AppendUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/AppendUserResponse" message="tns:IDatabaseService_AppendUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DataCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/DataCallBack" message="tns:IDatabaseService_DataCallBack_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDatabaseService" type="tns:IDatabaseService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDatabaseService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteResult">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/ExecuteResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExsistUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/ExsistUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppendUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/AppendUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataCallBack">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/DataCallBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseService">
    <wsdl:port name="NetTcpBinding_IDatabaseService" binding="tns:NetTcpBinding_IDatabaseService">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-EPIF3OI\HP</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>